*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}
.fondo-footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,26,177,1) 35%, rgba(218,0,241,1) 100%);
}
#pie{
    font-size: 1vw;
}
a{
    color: aliceblue; 
}
