body{
    background-color: #2b2b2b;
}

#title{
    text-align: center;
    padding: 2%;
    margin: 2%;
}
h1{
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    color: aliceblue;
    text-align: left;
    font-size: 3vw;
    margin: 2%;
    m
}
#text{
    font-family: 'Noto Serif', serif;
    color: aliceblue;
    font-size: 1vw;
    text-align: :left;
    margin: 2%;
}
#menu{
    width: 100%;
    height: auto;
    
}

.container{
    display: flex;
    justify-content: space-around;
}

.card_body{
    color: #2b2b2b;
}

#cards{
    margin: 2%;
}

#textcards{
    font-family: 'Noto Serif', serif;
    text-align: : center;
    font-size: 1vw;

}

h2{
    font-size: 2vw;
    text-align: center;
    color: aliceblue;
}

#kartodromos{
    margin: 7%;
}

.formu{
    text-align: center;
    width: 50%;
    color: aliceblue;
    border: solid aliceblue;
    border-radius: 10px;
    padding: 2%;
    margin-left: 25%;
    margin-top: 2%;
}
#card{
    display: flex;
    justify-content: center;
}

.fondo-footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(104,26,177,1) 35%, rgba(218,0,241,1) 100%);
}

h5{
    font-size: 2vw;
}

#card1{
    font-size: 1.2vw;
}
#card2{
    font-size: 1.2vw;
}
#card3{
    font-size: 1.2vw;
}
#baradero{
    font-size: 1.5vw;
}
#zarate{
    font-size: 1.5vw;
}
#bsas{
    font-size: 1.5vw;
}
#evita{
    font-size: 1.5vw;
}
.btn-primary{
   background-color: rgba(104,26,177,1);
}
